In [1]:
import stadata
import requests as r
import json
import pandas as pd

# 1. Membuat Fungsi Static Table

In [12]:
web_bps = "https://webapi.bps.go.id/v1/api/view/domain" # ini jangan diganti
domain_id = 3300 # ganti dengan domain id yang kalian inginkan 
method = 'statictable' # methodnya jangan diganti
bahasa = 'ind' # bisa bahasa 'ind' atau 'eng'
table_id = 2711 # id table berupa integer
api_key = 'api_key' # ganti dengan string api key kita

def static_table_data(web_bps, domain_id, method, bahasa, table_id, api_key):
    domain_static = f"{web_bps}/{domain_id}/model/{method}/lang/{bahasa}/id/{table_id}/key/{api_key}/"
    response = r.get(domain_static)
    response.json()
    return response.json()

# 2. memanggil fungsi dari static_table_data

In [21]:
static_data = static_table_data(web_bps, domain_id, method, bahasa, table_id, api_key) 
#static_data hanya contoh nama variable, bisa kalian ubah sesuka kalian

# 3. membuat fungsi untuk mendownload data

In [22]:
filename = 'telur_susu_2023-07.xls' # bisa kalian ganti sesuai nama file yang kalian inginkan
url_download = static_data['data']['excel']

def download_file(url_download):
    response = r.get(url_download)
    if response.status_code == 200:
        with open(filename, 'wb') as downloaded_file:
            downloaded_file.write(response.content)
        print(f"File sudah tersimpan, dengan nama sebagai berikut {filename}")
    else:
        print(f"Gagal untuk menyimpan File. Status code Request sebagai berikut:{response}")
    
    return

In [23]:
download_file(url_download)

File sudah tersimpan, dengan nama sebagai berikut telur_susu_2023-07.xls

# 4. load file dalam bentuk DataFrame

In [24]:
df = pd.read_excel('telur_susu_2023-07.xls')
df.head()

,"Produksi Telur Unggas dan Susu Sapi Menurut Kabupaten/Kota dan Jenis Ternak di Provinsi Jawa Tengah (ton), 2021 dan 2022",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Production of Poultry Eggs and Cow Milk by Reg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Kabupaten/Kota\nRegency/ Municipality,NaN,Ayam Kampung\nNative Chicken,NaN,Ayam Petelur\nLayer,NaN,Itik\nDuck,NaN,Sapi Perah\nDairy Cattle,NaN,Kulit Sapi/Kerbau (lembar),NaN,Kulit Kambing/Domba (lembar),NaN
2,NaN,NaN,2021,2022*,2021,2022*,2021,2022*,2021,2022*,2021,2022*,2021,2022*
3,Kabupaten/Regency,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.,Cilacap,437291,441664,1999061,2019052,1237947,1286686,35466,25806,8465,8877,25954,25139